.css_flag {
  padding: 0 0 0 24px;
  background: url(../images/flag-icons.png) 0 -20px no-repeat;
}
.flagbg-0 {
  background-position: 0 -20px;
}
.flagbg-1 {
  background-position: -10px -2819px;
}
.flagbg-2 {
  background-position: -10px -10px;
}
.flagbg-3 {
  background-position: -10px -2852px;
}
.flagbg-4 {
  background-position: -10px -2885px;
}
.flagbg-5 {
  background-position: -10px -6977px;
}
.flagbg-6 {
  background-position: -10px -40px;
}
.flagbg-7 {
  background-position: -10px -2918px;
}
.flagbg-8 {
  background-position: -10px -2951px;
}
.flagbg-9 {
  background-position: -10px -70px;
}
.flagbg-10 {
  background-position: -10px -1900px;
}
.flagbg-11 {
  background-position: -10px -100px;
}
.flagbg-12 {
  background-position: -10px -2984px;
}
.flagbg-13 {
  background-position: -10px -3017px;
}
.flagbg-14 {
  background-position: -10px -1931px;
}
.flagbg-15 {
  background-position: -10px -3050px;
}
.flagbg-16 {
  background-position: -10px -3083px;
}
.flagbg-17 {
  background-position: -10px -130px;
}
.flagbg-18 {
  background-position: -10px -3116px;
}
.flagbg-19 {
  background-position: -10px -3149px;
}
.flagbg-20 {
  background-position: -10px -3182px;
}
.flagbg-21 {
  background-position: -10px -160px;
}
.flagbg-22 {
  background-position: -10px -3215px;
}
.flagbg-23 {
  background-position: -10px -190px;
}
.flagbg-24 {
  background-position: -10px -3248px;
}
.flagbg-25 {
  background-position: -10px -220px;
}
.flagbg-26 {
  background-position: -10px -250px;
}
.flagbg-27 {
  background-position: -10px -2179px;
}
.flagbg-28 {
  background-position: -10px -2211px;
}
.flagbg-29 {
  background-position: -10px -3281px;
}
.flagbg-30 {
  background-position: -10px -280px;
}
.flagbg-31 {
  background-position: -10px -7423px;
}
.flagbg-32 {
  background-position: -10px -3314px;
}
.flagbg-33 {
  background-position: -10px -3347px;
}
.flagbg-34 {
  background-position: -10px -310px;
}
.flagbg-35 {
  background-position: -10px -3380px;
}
.flagbg-36 {
  background-position: -10px -3413px;
}
.flagbg-37 {
  background-position: -10px -2243px;
}
.flagbg-38 {
  background-position: -10px -3446px;
}
.flagbg-40 {
  background-position: -10px -3479px;
}
.flagbg-41 {
  background-position: -10px -340px;
}
.flagbg-42 {
  background-position: -10px -370px;
}
.flagbg-43 {
  background-position: -10px -7011px;
}
.flagbg-44 {
  background-position: -10px -3512px;
}
.flagbg-45 {
  background-position: -10px -3545px;
}
.flagbg-46 {
  background-position: -10px -3578px;
}
.flagbg-47 {
  background-position: -10px -7045px;
}
.flagbg-48 {
  background-position: -10px -3611px;
}
.flagbg-49 {
  background-position: -10px -400px;
}
.flagbg-50 {
  background-position: -10px -7079px;
}
.flagbg-51 {
  background-position: -10px -7113px;
}
.flagbg-52 {
  background-position: -10px -3644px;
}
.flagbg-53 {
  background-position: -10px -430px;
}
.flagbg-54 {
  background-position: -10px -460px;
}
.flagbg-55 {
  background-position: -10px -3677px;
}
.flagbg-56 {
  background-position: -10px -2275px;
}
.flagbg-57 {
  background-position: -10px -3710px;
}
.flagbg-58 {
  background-position: -10px -490px;
}
.flagbg-59 {
  background-position: -10px -3743px;
}
.flagbg-60 {
  background-position: -10px -3776px;
}
.flagbg-61 {
  background-position: -10px -520px;
}
.flagbg-62 {
  background-position: -10px -550px;
}
.flagbg-63 {
  background-position: -10px -2307px;
}
.flagbg-64 {
  background-position: -10px -3809px;
}
.flagbg-65 {
  background-position: -10px -1962px;
}
.flagbg-66 {
  background-position: -10px -3842px;
}
.flagbg-67 {
  background-position: -10px -580px;
}
.flagbg-68 {
  background-position: -10px -7147px;
}
.flagbg-69 {
  background-position: -10px -3875px;
}
.flagbg-70 {
  background-position: -10px -610px;
}
.flagbg-71 {
  background-position: -10px -3908px;
}
.flagbg-72 {
  background-position: -10px -3941px;
}
.flagbg-73 {
  background-position: -10px -2339px;
}
.flagbg-74 {
  background-position: -10px -640px;
}
.flagbg-75 {
  background-position: -10px -3974px;
}
.flagbg-76 {
  background-position: -10px -1993px;
}
.flagbg-78 {
  background-position: -10px -7181px;
}
.flagbg-79 {
  background-position: -10px -670px;
}
.flagbg-80 {
  background-position: -10px -2024px;
}
.flagbg-81 {
  background-position: -10px -4007px;
}
.flagbg-82 {
  background-position: -10px -4040px;
}
.flagbg-83 {
  background-position: -10px -4073px;
}
.flagbg-86 {
  background-position: -10px -4106px;
}
.flagbg-87 {
  background-position: -10px -4139px;
}
.flagbg-88 {
  background-position: -10px -4172px;
}
.flagbg-89 {
  background-position: -10px -2371px;
}
.flagbg-90 {
  background-position: -10px -4205px;
}
.flagbg-91 {
  background-position: -10px -700px;
}
.flagbg-92 {
  background-position: -10px -4238px;
}
.flagbg-93 {
  background-position: -10px -4271px;
}
.flagbg-94 {
  background-position: -10px -2403px;
}
.flagbg-95 {
  background-position: -10px -4304px;
}
.flagbg-96 {
  background-position: -10px -730px;
}
.flagbg-97 {
  background-position: -10px -4337px;
}
.flagbg-98 {
  background-position: -10px -4370px;
}
.flagbg-99 {
  background-position: -10px -760px;
}
.flagbg-100 {
  background-position: -10px -4403px;
}
.flagbg-101 {
  background-position: -10px -4436px;
}
.flagbg-103 {
  background-position: -10px -790px;
}
.flagbg-104 {
  background-position: -10px -4469px;
}
.flagbg-105 {
  background-position: -10px -2435px;
}
.flagbg-106 {
  background-position: -10px -4502px;
}
.flagbg-107 {
  background-position: -10px -2055px;
}
.flagbg-108 {
  background-position: -10px -4535px;
}
.flagbg-109 {
  background-position: -10px -820px;
}
.flagbg-110 {
  background-position: -10px -7215px;
}
.flagbg-111 {
  background-position: -10px -4568px;
}
.flagbg-112 {
  background-position: -10px -850px;
}
.flagbg-113 {
  background-position: -10px -4601px;
}
.flagbg-114 {
  background-position: -10px -880px;
}
.flagbg-115 {
  background-position: -10px -4634px;
}
.flagbg-116 {
  background-position: -10px -4667px;
}
.flagbg-117 {
  background-position: -10px -4700px;
}
.flagbg-118 {
  background-position: -10px -910px;
}
.flagbg-119 {
  background-position: -10px -4733px;
}
.flagbg-121 {
  background-position: -10px -4766px;
}
.flagbg-122 {
  background-position: -10px -4799px;
}
.flagbg-123 {
  background-position: -10px -4832px;
}
.flagbg-124 {
  background-position: -10px -940px;
}
.flagbg-125 {
  background-position: -10px -970px;
}
.flagbg-126 {
  background-position: -10px -4865px;
}
.flagbg-127 {
  background-position: -10px -4898px;
}
.flagbg-128 {
  background-position: -10px -2467px;
}
.flagbg-129 {
  width: 20px;
  height: 15px;
  background-position: -10px -7317px;
}
.flagbg-130 {
  background-position: -10px -4931px;
}
.flagbg-131 {
  background-position: -10px -4964px;
}
.flagbg-132 {
  background-position: -10px -4997px;
}
.flagbg-133 {
  background-position: -10px -5030px;
}
.flagbg-134 {
  background-position: -10px -5063px;
}
.flagbg-135 {
  background-position: -10px -5096px;
}
.flagbg-136 {
  background-position: -10px -1000px;
}
.flagbg-137 {
  background-position: -10px -5129px;
}
.flagbg-138 {
  background-position: -10px -5162px;
}
.flagbg-139 {
  background-position: -10px -5195px;
}
.flagbg-140 {
  background-position: -10px -5228px;
}
.flagbg-141 {
  background-position: -10px -2499px;
}
.flagbg-142 {
  background-position: -10px -2531px;
}
.flagbg-143 {
  background-position: -10px -1030px;
}
.flagbg-144 {
  background-position: -10px -5261px;
}
.flagbg-145 {
  background-position: -10px -1060px;
}
.flagbg-146 {
  background-position: -10px -1090px;
}
.flagbg-147 {
  background-position: -10px -5294px;
}
.flagbg-148 {
  background-position: -10px -5327px;
}
.flagbg-149 {
  background-position: -10px -2086px;
}
.flagbg-150 {
  background-position: -10px -5360px;
}
.flagbg-151 {
  background-position: -10px -1120px;
}
.flagbg-152 {
  background-position: -10px -5393px;
}
.flagbg-153 {
  background-position: -10px -5426px;
}
.flagbg-154 {
  background-position: -10px -5459px;
}
.flagbg-155 {
  background-position: -10px -5492px;
}
.flagbg-156 {
  background-position: -10px -1150px;
}
.flagbg-157 {
  background-position: -10px -5525px;
}
.flagbg-158 {
  background-position: -10px -7460px;
}
.flagbg-159 {
  background-position: -10px -1180px;
}
.flagbg-160 {
  background-position: -10px -1210px;
}
.flagbg-161 {
  background-position: -10px -1240px;
}
.flagbg-162 {
  background-position: -10px -1270px;
}
.flagbg-163 {
  background-position: -10px -1300px;
}
.flagbg-164 {
  background-position: -10px -2563px;
}
.flagbg-165 {
  background-position: -10px -5558px;
}
.flagbg-166 {
  background-position: -10px -5591px;
}
.flagbg-167 {
  background-position: -10px -5624px;
}
.flagbg-168 {
  background-position: -10px -5657px;
}
.flagbg-169 {
  background-position: -10px -7352px;
}
.flagbg-170 {
  background-position: -10px -5690px;
}
.flagbg-171 {
  background-position: -10px -7249px;
}
.flagbg-172 {
  background-position: -10px -1330px;
}
.flagbg-173 {
  background-position: -10px -1360px;
}
.flagbg-174 {
  background-position: -10px -2595px;
}
.flagbg-175 {
  background-position: -10px -5723px;
}
.flagbg-176 {
  background-position: -10px -5756px;
}
.flagbg-177 {
  background-position: -10px -1390px;
}
.flagbg-178 {
  background-position: -10px -5789px;
}
.flagbg-179 {
  background-position: -10px -5822px;
}
.flagbg-180 {
  background-position: -10px -5855px;
}
.flagbg-181 {
  background-position: -10px -5888px;
}
.flagbg-185 {
  background-position: -10px -1420px;
}
.flagbg-186 {
  background-position: -10px -5921px;
}
.flagbg-187 {
  background-position: -10px -2117px;
}
.flagbg-188 {
  background-position: -10px -5954px;
}
.flagbg-189 {
  background-position: -10px -5987px;
}
.flagbg-190 {
  background-position: -10px -1450px;
}
.flagbg-191 {
  background-position: -10px -6020px;
}
.flagbg-192 {
  background-position: -10px -6053px;
}
.flagbg-193 {
  background-position: -10px -1480px;
}
.flagbg-194 {
  background-position: -10px -6086px;
}
.flagbg-195 {
  background-position: -10px -6119px;
}
.flagbg-196 {
  background-position: -10px -2627px;
}
.flagbg-197 {
  background-position: -10px -6152px;
}
.flagbg-198 {
  background-position: -10px -1510px;
}
.flagbg-199 {
  background-position: -10px -1540px;
}
.flagbg-200 {
  background-position: -10px -2659px;
}
.flagbg-201 {
  background-position: -10px -1570px;
}
.flagbg-202 {
  background-position: -10px -6185px;
}
.flagbg-204 {
  background-position: -10px -6218px;
}
.flagbg-205 {
  background-position: -10px -2691px;
}
.flagbg-206 {
  background-position: -10px -7497px;
}
.flagbg-207 {
  background-position: -10px -6251px;
}
.flagbg-208 {
  background-position: -10px -1600px;
}
.flagbg-209 {
  background-position: -10px -6284px;
}
.flagbg-210 {
  background-position: -10px -6317px;
}
.flagbg-211 {
  background-position: -10px -6350px;
}
.flagbg-212 {
  background-position: -10px -1630px;
}
.flagbg-213 {
  background-position: -10px -1660px;
}
.flagbg-214 {
  background-position: -10px -6383px;
}
.flagbg-215 {
  background-position: -10px -6416px;
}
.flagbg-216 {
  background-position: -10px -6449px;
}
.flagbg-217 {
  background-position: -10px -1690px;
}
.flagbg-218 {
  background-position: -10px -1720px;
}
.flagbg-219 {
  background-position: -10px -1750px;
}
.flagbg-220 {
  background-position: -10px -2723px;
}
.flagbg-221 {
  background-position: -10px -6482px;
}
.flagbg-222 {
  background-position: -10px -1780px;
}
.flagbg-224 {
  background-position: -10px -7283px;
}
.flagbg-225 {
  background-position: -10px -1810px;
}
.flagbg-226 {
  background-position: -10px -2755px;
}
.flagbg-227 {
  background-position: -10px -7537px;
}
.flagbg-228 {
  background-position: -10px -6515px;
}
.flagbg-229 {
  background-position: -10px -6548px;
}
.flagbg-230 {
  background-position: -10px -1840px;
}
.flagbg-231 {
  background-position: -10px -2787px;
}
.flagbg-232 {
  background-position: -10px -7387px;
}
.flagbg-233 {
  background-position: -10px -2148px;
}
.flagbg-234 {
  background-position: -10px -6581px;
}
.flagbg-235 {
  background-position: -10px -6614px;
}
.flagbg-236 {
  background-position: -10px -6647px;
}
.flagbg-237 {
  background-position: -10px -6680px;
}
.flagbg-238 {
  background-position: -10px -1870px;
}
.flagbg-240 {
  background-position: -10px -6713px;
}
.flagbg-241 {
  background-position: -10px -6746px;
}
.flagbg-242 {
  background-position: -10px -6779px;
}
.flagbg-243 {
  background-position: -10px -6812px;
}
.flagbg-244 {
  background-position: -10px -6845px;
}
.flagbg-245 {
  background-position: -10px -6878px;
}
.flagbg-246 {
  background-position: -10px -6911px;
}
.flagbg-247 {
  background-position: -10px -6944px;
}
/*# sourceMappingURL=country.css.map */