@import "css-function.less";
@import "components/basic-color.less";

@color4d4d4d: #4d4d4d;
@color9a9b9b: #9a9b9b;
@color282828: #282828;
@color272727: #272727;
@color9fa0a0: #9fa0a0;

/*底部*/
.footer {
  background-color: @color313131;
  width: 100%;
  min-width: 1280px;

  //赞助商
  .sponsors {
    background: #fff;
    min-height: 100px;
    border-top:1px solid @colorEfefef;

    .sponsors-box {
      width: 1280px;
      margin: 0 auto;
      padding: 0 24px;
      box-sizing: border-box;
      .clearF;

      .item {
        padding: 15px 0 14px 35px;
        box-sizing: border-box;
        float: left;
        position: relative;
        &:first-child{
          &:before{
            display: none;
          }
        }
        &:before{
          display: block;
          content: '';
          height: 66%;
          .positionL(absolute,50%,0,1);
          border-left: 1px solid @colorEfefef;
          transform: translateY(-50%);
        }

        &:last-child {
          float: right;
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .name {
        font-size: 14px;
        color: @color313131;
        position: relative;
      }
    }
  }

  .clearF;
  .links-type {
    padding: 40px 0;
    .clearF;
  }
}

/*左侧表单*/
.send-from {
  .widthAndHeight(320px, auto);
  float: left;
  box-sizing: border-box;
  padding-left: 24px;
  border-right: 1px solid @color282828;

  & > p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .message-from {
    width: 240px;
  }

  input[type="text"] {
    .widthAndHeight(100%, 30px);
    color: @color9a9b9b;
    background: @color4d4d4d;
    line-height: 30px;
    border-radius: 2px;
    text-indent: 15px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px;
  }

  textarea {
    .widthAndHeight(100%, 70px);
    border-radius: 2px;
    color: @color9a9b9b;
    background: @color4d4d4d;
    cursor: pointer;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    font-family: open-sans;
  }

  input[type="button"] {
    .widthAndHeight(100%, 34px);
    color: #fff;
    line-height: 34px;
    border-radius: 2px;
    text-indent: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    margin-top: 15px;
    background: @colorRedB21f1f;
  }

  input[type="button"]:hover {
    background: #e22222;
  }

  textarea::-webkit-input-placeholder {
    color: @color9a9b9b;
  }

  textarea::-moz-placeholder {
    color: @color9a9b9b;
  }

  textarea::-moz-placeholder {
    color: @color9a9b9b;
  }

  textarea:-ms-input-placeholder {
    color: @color9a9b9b;
  }
}
//右侧导航
.list-box {
  float: right;
  .links-title {
    .widthAndHeight(960px, auto);
    padding-bottom: 20px;
    box-sizing: border-box;
    .clearF;

    & > li {
      float: left;
      min-height: 156px;
      padding-left: 20px;
      box-sizing: border-box;
      border-left: 1px solid #272727;

      &:first-child {
        width: 228px;
        padding-left: 40px;
        border-left: none;

        & + li {
          width: 250px;

          & + li {
            width: 250px;

            & + li {
              width: 228px;
            }
          }
        }
      }

      & > p {
        margin-bottom: 15px;
        color: #fff;
        font-size: 16px;
      }
    }

    .links-lists {
      line-height: 20px;
      font-size: 12px;

      & > li {
        h3 {
          font-weight: normal;
        }

        a {
          color: #9fa0a0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }
  .copyright-box {
    border-top: 1px solid @color282828;
    margin-left: 40px;
    padding-top: 15px;
    .clearF;

    .copyright-text {
      float: left;
      color: @color9fa0a0;
      max-width: 740px;
      cursor: default;
      .ban-quan{
        margin-bottom: 10px;
      }
    }

    .share-box {
      height: 30px;
      float: right;

      & > a {
        display: inline-block;
        .widthAndHeight(30px, 30px);
        overflow: hidden;
        float: left;
        margin-right: 2px;

        & > img {
          .widthAndHeight(100%, 100%);
          transition: all .3s;
          transform: scale(1.1);
        }

        &:hover {
          img {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}


