@import "../../fonts/iconfont.css";
@import "../../fonts/iconfont.css";
.textEellipsis {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clearF:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.userSelect {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.floatL {
  float: left;
}
.floatR {
  float: right;
}
.totalIconCss {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*清除默认样式*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  border: none;
}
body {
  font-size: 14px;
  font-family: 'myfont', 'Arial';
  background: #fff;
}
a {
  text-decoration: none;
  display: inline-block;
}
input {
  border: none;
}
button {
  border: none;
}
i {
  display: inline-block;
  font-style: normal;
}
ul,
ol {
  list-style: none;
}
/*公共版心*/
.container_warp {
  width: 1280px !important;
  margin: 0 auto;
}
/*论坛版心*/
.bbs_warp {
  width: 1280px;
  margin: 0 auto;
}
/*会员版心*/
.vip_warp {
  width: 1120px;
}
.container_warp:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.rightf {
  float: right;
}
.leftf {
  float: left;
}
.font12 {
  font-size: 12px;
  color: #727171;
}
.clear-float {
  clear: both;
  zoom: 1 \9;
}
.ie-float {
  overflow: auto \9;
}
.clear-fix:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
textarea::-webkit-input-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea::-moz-placeholder {
  color: #999;
}
textarea:-ms-input-placeholder {
  color: #999;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
.font-color {
  color: #727171;
}
/*图片文字对齐*/
.align-pic {
  vertical-align: middle;
}
/*清除IEX号*/
/*::-ms-clear,::-ms-reveal{display:none;}*/
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input,
textarea,
button {
  outline: none;
}
/*右侧悬浮*/
/*放假通知*/
.holiday-tips {
  min-width: 1280px;
  background-color: #d0ba9a;
}
.holiday-tips .tips-content {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px 0 0 60px;
  position: relative;
}
@media screen and (min-width: 1800px) {
  .holiday-tips .tips-content {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 0 0 0;
  }
}
/*关闭*/
.holiday-tips .tips-content .icon-guanbi {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 9;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s;
}
.holiday-tips .tips-content .icon-guanbi:hover {
  color: #b21f1f;
  transform: rotate(90deg);
}
.holiday-tips .tips-content .tips-logo {
  float: left;
}
.holiday-tips .tips-content .tips-logo .iconfont {
  font-size: 24px;
  line-height: 24px;
  color: #2e2525;
  display: block;
  -webkit-animation: radio 0.5s ease-in infinite;
}
.holiday-tips .tips-content .tips-text {
  float: left;
  margin-left: 10px;
}
.holiday-tips .tips-content .tips-text h5 {
  color: #ac0000;
  font-size: 16px;
}
.holiday-tips .link-holiday {
  color: #2e2525;
}
.holiday-tips .link-holiday:hover {
  text-decoration: underline;
}
.holiday-tips .quote-link .enquiry {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.holiday-tips .quote-link .quote-now:hover {
  color: #b21f1f;
}
@keyframes radio {
  0% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
/*顶部动画*/
#bodymovin {
  height: 70px;
  width: 100%;
  min-width: 1280px;
  font-size: 18px;
  background-color: #EEDCC4;
  font-family: 'activeFont';
  line-height: 70px;
  position: relative;
}
#bodymovin .guanbi {
  transition: all 0.3s;
  display: inline-block;
  width: 30px;
  text-align: center;
  cursor: pointer;
  color: #b21f1f;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 20px;
  z-index: 99999;
  right: 60px;
  font-size: 26px;
}
#bodymovin .warp {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  text-align: center;
  position: relative;
}
#bodymovin .warp a {
  color: #8a2221;
  width: 1200px;
}
#bodymovin .warp a:hover {
  text-decoration: underline;
}
#bodymovin .warp span {
  color: #519f00;
  font-size: 24px;
}
#bodymovin .warp .space {
  margin: 0 38px;
}
#bodymovin .warp .icon-guanbi:hover {
  transform: rotate(360deg);
  color: #b21f1f;
}
#bodymovin .warp .see-more {
  display: inline-block;
  line-height: 25px;
  background-color: #8a2221;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  border-radius: 100%;
  margin-left: 10px;
}
#scenario {
  position: absolute;
  top: 0;
  left: 466px;
  z-index: 999;
  width: 120px;
  height: 70px;
}
#yh {
  position: absolute;
  top: -20px;
  left: 439px;
  width: 160px;
  height: 150px;
}
/*分页样式*/
#pageToolbar {
  padding: 30px 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.ui-paging-container {
  color: #666;
  font-size: 12px;
}
.ui-paging-container ul {
  overflow: hidden;
  text-align: center;
}
.ui-paging-container ul li {
  display: inline-block;
  padding: 3px 6px;
  margin-left: 5px;
  color: #666;
}
.ui-paging-container ul li.ui-paging-ellipse {
  border: none;
}
.ui-paging-container ul li.ui-paging-toolbar {
  padding: 0;
}
.ui-paging-container ul li.ui-paging-toolbar select {
  height: 22px;
  border: 1px solid #ddd;
  color: #666;
}
.ui-paging-container ul li.ui-paging-toolbar input {
  height: 33px;
  width: 50px;
  border: 1px solid #ddd;
  text-align: center;
  margin: 0 0 0 5px;
  vertical-align: middle;
}
.ui-paging-container ul li.ui-paging-toolbar a {
  text-decoration: none;
  display: inline-block;
  height: 34px;
  border: 1px solid #ddd;
  vertical-align: top;
  border-radius: 2px;
  line-height: 34px;
  padding: 0 3px;
  cursor: pointer;
  margin-left: 5px;
  color: #666;
  width: 50px;
}
.ui-paging-container ul li a:hover {
  background: #2e2525;
  color: #fff;
}
.ui-paging-container ul .ui-pager {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #ffffff;
  display: inline-block;
  padding: 10px 14px;
  margin-left: 5px;
  color: #666;
}
.ui-paging-container ul .ui-pager:hover {
  background-color: #2e2525;
  color: #ffffff;
}
.ui-paging-container ul .focus {
  background-color: #2e2525;
  color: #ffffff;
}
.ui-paging-container ul .ui-pager-disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}
@font-face {
  font-family: 'fontBold';
  src: url('../../fonts/MyriadPro-Bold.otf');
}
@font-face {
  font-family: 'myfont';
  src: url('../../fonts/MyriadPro-Regular.woff') format('woff'), /* chrome、firefox */ url('../../fonts/MyriadPro-Regular.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../fonts/MyriadPro-Regular.otf'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../../fonts/MyriadPro-Regular.svg#iconfont') format('svg'), /* iOS 4.1- */ url('../../fonts/MyriadPro-Regular.eot');
}
@font-face {
  font-family: 'activeFont';
  src: url("../../activeFonts/DIN-Condensed-Bold.ttf");
}
.bread-crumbs {
  padding: 20px 0;
  text-align: right;
  width: 1080px;
}
.bread-crumbs:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.bread-crumbs .bread-nav {
  float: right;
}
.bread-crumbs .bread-nav:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.bread-crumbs .bread-nav a {
  color: #9fa0a0;
  font-size: 12px;
  max-width: 180px;
  display: block;
  position: relative;
  padding-left: 16px;
  float: left;
}
.bread-crumbs .bread-nav a:first-child:before {
  display: none;
}
.bread-crumbs .bread-nav a:before {
  display: block;
  content: '';
  width: 6px;
  border-top: 1px solid #9fa0a0;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
}
.bread-crumbs .bread-nav a:hover {
  text-decoration: underline;
}
@-webkit-keyframes animate-upbit {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    opacity: 0.3;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animate-upbit {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0.3;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.the-top {
  background-color: #fff;
}
/*会员中心按钮*/
.m-btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  text-align: center;
  background-color: #b21f1f;
  color: #ffffff;
  float: right;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
  transition: all 1s;
}
.m-btn:hover {
  background-color: #ee2323;
}
.top-nav {
  height: 80px;
  background-color: #313131;
  width: 100%;
  min-width: 1366px;
}
.top-nav .nav-l {
  width: 240px;
  line-height: 80px;
  text-align: center;
  background-color: #2a2a2a;
  float: left;
}
.top-nav .nav-l img {
  vertical-align: middle;
}
.top-nav .nav-r {
  float: right;
  height: 80px;
}
.top-nav .hints {
  float: left;
  height: 100%;
  box-sizing: border-box;
}
.top-nav .hints:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.top-nav .hints li {
  float: left;
  height: 100%;
  position: relative;
}
.top-nav .hints li:before {
  display: block;
  content: '';
  height: 100%;
  border-right: 1px solid #2a2a2a;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.top-nav .hints li > a {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 14px;
  height: 80px;
  position: relative;
}
.top-nav .hints li > a:hover .link-name {
  text-decoration: underline;
}
.top-nav .hints li > a .point {
  min-height: 10px;
  text-align: center;
  border-radius: 12px;
  background-color: #b21f1f;
  color: #fff;
  position: absolute;
  top: 0;
  left: 12px;
  z-index: 2;
  line-height: 14px;
  font-size: 12px;
  padding: 0 5px;
  display: none;
}
.top-nav .hints li > a span {
  font-size: 26px;
  line-height: 26px;
  position: relative;
}
.top-nav .hints li > a .icon-youhuiquan {
  font-size: 19px;
}
.top-nav .hints li > a .icon-youhuiquan .point {
  top: -3px;
  left: 18px;
}
.top-nav .hints li > a .icon-shoufukuanguanli .point {
  top: 2px;
  left: 13px;
}
.top-nav .hints li > a .icon-gouwuche1 {
  font-size: 22px;
}
.top-nav .hints li .link-name {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
}
.top-nav .hints li:hover a {
  color: #ffffff;
}
.top-nav .hints li .now-show {
  display: block;
}
.top-nav .hints li .now-hide {
  display: none;
}
.top-nav .hints .active .point {
  display: block;
}
.message-list {
  position: absolute;
  top: 70px;
  left: 20px;
  z-index: 999;
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid #efeff0;
  box-sizing: border-box;
  font-size: 12px;
  display: none;
}
.message-list .message-title {
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #efeff0;
}
.message-list .message-title .message-numbers {
  float: left;
  margin-top: 8px;
}
.message-list .message-title .read-btn {
  float: right;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #887070;
  border-radius: 2px;
}
.message-list .message-title .read-btn:hover {
  background-color: #786060;
}
.message-list .lists-box {
  max-height: 640px;
  overflow-y: auto;
  min-height: 360px;
  padding-bottom: 20px;
}
.message-list .lists-box .item {
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #efeff0;
  display: block;
}
.message-list .lists-box .item:hover {
  transition: none;
  background-color: #efeff0;
}
.message-list .lists-box .item:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.message-list .lists-box .item .item-left,
.message-list .lists-box .item .item-right {
  float: left;
}
.message-list .lists-box .item .item-left {
  width: 40px;
}
.message-list .lists-box .item .item-left .the-same {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
}
.message-list .lists-box .item .item-left .the-same span {
  color: #ffffff;
  font-size: 24px;
}
.message-list .lists-box .item .item-left .sys-sign {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  background-color: #d8cccc;
  line-height: 33px;
}
.message-list .lists-box .item .item-left .sys-sign span {
  color: #ffffff;
  font-size: 24px;
}
.message-list .lists-box .item .item-left .order-sign {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  line-height: 36px;
  background-color: #b01a1a;
}
.message-list .lists-box .item .item-left .order-sign span {
  color: #ffffff;
  font-size: 24px;
}
.message-list .lists-box .item .item-left .site-sign {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 40px;
  background-color: #4a90e2;
  line-height: 40px;
}
.message-list .lists-box .item .item-left .site-sign span {
  color: #ffffff;
  font-size: 24px;
}
.message-list .lists-box .item .item-left .site-sign span {
  font-size: 20px;
}
.message-list .lists-box .item .item-right {
  margin-left: 15px;
  width: 306px;
  word-break: break-word;
}
.message-list .lists-box .item .item-right .des {
  color: #2e2525;
  line-height: 1.2;
}
.message-list .lists-box .item .item-right .des .number {
  color: #b21f1f;
}
.message-list .lists-box .item .item-right .time {
  color: #9fa0a0;
  margin-top: 5px;
}
/*右侧头像*/
.user-box {
  float: right;
  height: 80px;
  color: #fff;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: #a0a0a0;
}
.user-box:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.user-box:hover .person-info {
  display: block;
}
.user-box .user-head {
  float: left;
  width: 40px;
  height: 40px;
  position: relative;
}
.user-box .user-head img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.user-box .user-info {
  color: #313131;
  font-size: 12px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 13px;
}
.user-box .user-info .info-name {
  margin-bottom: 2px;
}
.user-box .user-info .info-name span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  max-width: 64px;
}
.user-box .user-info .info-account {
  position: relative;
  padding-right: 16px;
}
.user-box .user-info .info-account:before {
  display: block;
  content: '\e6c2';
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 3;
  color: #868686;
  font-size: 18px;
  line-height: 18px;
}
.user-box .user-info .info-account:hover {
  text-decoration: underline;
}
.user-box .person-info {
  border: 1px solid #ddddde;
  min-height: 150px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 99999;
  background: #fff;
  width: 240px;
  display: none;
  animation: animate-upbit 0.3s;
}
.user-box .person-info .info {
  padding: 20px 0 19px 22px;
  position: relative;
  color: #2e2525;
}
.user-box .person-info .info:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.user-box .person-info .left-info {
  float: left;
  margin-right: 10px;
}
.user-box .person-info .left-info .join-free,
.user-box .person-info .left-info .out-btn {
  color: #b21f1f;
}
.user-box .person-info .left-info .join-free:hover,
.user-box .person-info .left-info .out-btn:hover {
  text-decoration: underline;
}
.user-box .person-info .right-info {
  float: left;
}
.user-box .person-info .right-info .login-in {
  background-color: #2e2525;
  width: 90px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.user-box .person-info .right-info .login-in:hover {
  box-shadow: 0 0 4px #261b1b;
}
.user-box .person-info .link-lists {
  border-top: 1px solid #ddddde;
  padding: 20px 0 10px 12px;
  font-size: 12px;
}
.user-box .person-info .link-lists .item {
  margin-bottom: 10px;
}
.user-box .person-info .link-lists .item a {
  display: inline-block;
  color: #2e2525;
  position: relative;
  padding-right: 20px;
}
.user-box .person-info .link-lists .item a span {
  float: left;
}
.user-box .person-info .link-lists .item a:after {
  display: none;
  content: '';
  width: 10px;
  height: 10px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #b21f1f;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  margin-top: -5px;
}
.user-box .person-info .link-lists .item a .name {
  margin-left: 10px;
  max-width: 168px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user-box .person-info .link-lists .item a:hover .name {
  text-decoration: underline;
}
.user-box .person-info .link-lists .active a:after {
  display: block;
}
/*菜单导航*/
.main-menu {
  min-width: 1366px;
  height: 44px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  z-index: 9;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a6a6a6, endColorstr=#bfbfbf);
  background: linear-gradient(to bottom, #a6a6a6, #bbbbbb, #bfbfbf);
}
.main-menu .menu-account {
  float: left;
  width: 240px;
  height: 44px;
}
.main-menu .menu-account:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.main-menu .menu-account .nav-flag {
  width: 192px;
  float: left;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#9e9e9e, endColorstr=#b4b4b4);
  background: linear-gradient(to bottom, #9e9e9e, #afafaf, #b4b4b4);
  line-height: 44px;
  text-indent: 26px;
  font-weight: 700;
  cursor: pointer;
}
.main-menu .menu-account .nav-flag:hover {
  color: #b21f1f;
  text-decoration: underline;
}
.main-menu .menu-account .icon-shouye {
  display: inline-block;
  width: 48px;
  height: 44px;
  font-size: 19px;
  text-align: center;
  line-height: 37px;
  float: left;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#bbbbbb, endColorstr=#bdbdbd);
  background: linear-gradient(to bottom, #a3a3a3, #bbbbbb, #bdbdbd);
}
.main-menu .menu-list {
  float: left;
}
.main-menu .menu-list li {
  float: left;
  height: 44px;
  line-height: 44px;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}
.main-menu .menu-list li:before {
  display: block;
  content: '';
  height: 34%;
  border-left: 1px solid #9c9c9c;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  transform: translateY(-50%);
}
.main-menu .menu-list li:first-child:before {
  display: none;
}
.main-menu .menu-list li a {
  color: #3e3a39;
}
.main-menu .menu-list li:hover a {
  color: #b21f1f;
  text-decoration: underline;
}
.main-menu .menu-list .active a {
  color: #b21f1f;
  text-decoration: underline;
}
/*订单链接*/
.in-link {
  float: left;
  height: 24px;
  line-height: 24px;
  border-top-left-radius: 13px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#8b8b8b, endColorstr=#8b8b8b);
  background: linear-gradient(to bottom, #8b8b8b, #737373, #8b8b8b);
  padding: 0 10px;
  margin: 8px 0 8px 6px;
  font-size: 12px;
}
.in-link .icon-jisuan1 {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin: 0 16px 0 0;
}
.in-link span {
  float: left;
  color: #5f5f5f;
  font-size: 12px;
  margin: 0 14px;
}
.in-link a {
  float: left;
  height: 23px;
  color: #fff;
}
.in-link a:hover {
  text-decoration: underline;
}
/*面包屑*/
/*版权说明*/
.copy-right-box {
  font-size: 12px;
  color: #c8c8c8;
  width: 1080px;
  position: absolute;
  bottom: 0;
  padding: 30px 0;
  border-top: 1px solid #efefef;
}
/*版权说明*/
html,
body {
  height: 100%;
}
.order-main {
  height: 100%;
  min-width: 1366px;
}
.order-main .box-l {
  position: absolute;
  top: 123px;
  left: 0;
  z-index: 99;
  width: 240px;
  min-height: 100%;
}
.order-main .box-l .category .cash-coupon {
  margin-top: 80px;
}
.order-main .box-l .category .item {
  background-color: #fff;
  color: #fff;
  position: relative;
}
.order-main .box-l .category .item:before {
  display: block;
  content: '';
  height: 100%;
  width: 48px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #3c3c3c;
}
.order-main .box-l .category .item:nth-child(2n+1):before {
  background: #313131;
}
.order-main .box-l .category .item .item-name {
  color: #3e3a39;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  position: relative;
  z-index: 3;
}
.order-main .box-l .category .item .item-name:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.order-main .box-l .category .item .item-name > .iconfont {
  color: #7e7e7e;
  display: inline-block;
  width: 48px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  float: left;
}
.order-main .box-l .category .item .item-name .icon-fukuan1 {
  font-size: 22px;
}
.order-main .box-l .category .item .item-name .icon-luntan {
  font-size: 24px;
}
.order-main .box-l .category .item .item-name .icon-daipingjiab {
  font-size: 24px;
}
.order-main .box-l .category .item .item-name .icon-34 {
  font-size: 32px;
}
.order-main .box-l .category .item .item-name .icon-gerenziliao {
  font-size: 18px;
}
.order-main .box-l .category .item .item-name .category-name {
  border-left: 2px solid transparent;
  height: 40px;
  display: inline-block;
  width: 192px;
  float: left;
  text-indent: 15px;
  position: relative;
  font-weight: 700;
  background: #f7f8f8;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}
.order-main .box-l .category .item .item-name .category-name .icon-xialasanjiao {
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 3;
  transform: translateY(-50%) rotate(180deg);
  color: #868686;
  font-size: 14px;
  line-height: 14px;
  text-indent: 0;
  padding: 6px;
}
.order-main .box-l .category .item .item-name .category-name .isHide {
  transform: translateY(-50%);
}
.order-main .box-l .category .item .item-name .icon-yiwancheng {
  font-size: 24px;
}
.order-main .box-l .category .item .item-name .icon-lipin {
  font-size: 25px;
}
.order-main .box-l .category .item .icon-new {
  position: absolute;
  top: -2px;
  left: -3px;
  z-index: 9;
  color: #4a90e2;
  font-weight: normal;
  line-height: normal;
  font-size: 28px;
  text-indent: 0;
}
.order-main .box-l .category .active .item-name .category-name {
  border-left: 2px solid #b21f1f;
  background: #fff;
}
.order-main #pageToolbar {
  width: 1080px;
  padding: 30px 0 0 0 !important;
}
.order-main .box-r {
  background: #fff;
  box-sizing: border-box;
  padding: 0 0 100px 270px;
  position: relative;
  min-height: 100%;
}
.order-main .box-r:before {
  display: block;
  content: '';
  height: 100%;
  border-right: 1px solid #efefef;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
  width: 240px;
  background: #f7f8f8;
}
.order-main .box-r:after {
  display: block;
  content: '';
  width: 48px;
  height: 100%;
  border-right: 1px solid #efefef;
  background: #2a2a2a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.order-main .box-r .r-title {
  font-size: 24px;
  line-height: 24px;
  color: #2e2525;
  font-family: fontBold;
  margin-bottom: 15px;
}
.order-main .box-r .balance-box {
  min-width: 1080px;
  min-height: 600px;
}
.order-main .box-r .balance-box .to-promote {
  width: 320px;
  height: 320px;
  float: right;
  cursor: pointer;
}
.order-main .box-r .balance-box .to-promote a {
  cursor: default;
}
.order-main .box-r .empty-state {
  display: block !important;
}
/*会员中心左侧*/
.second-item {
  background-color: #f7f8f8;
  padding: 6px 0;
  border-bottom: 1px solid #efefef;
}
.second-item a {
  display: block;
  color: #3e3a39;
  font-size: 12px;
  padding: 6px 0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 35% center;
}
.second-item a:hover {
  color: #b21f1f;
}
.second-item a:hover .second-name {
  text-decoration: underline;
}
.second-item .second-name {
  display: inline-block;
  width: 192px;
  margin-left: 48px;
  text-indent: 25px;
  user-select: all;
}
.second-item .second-active {
  color: #b21f1f;
}
.message-link {
  position: fixed;
  right: 10px;
  bottom: 30%;
  z-index: 999;
  color: #fff;
  cursor: pointer;
}
.salesman-box {
  border-radius: 100%;
  background-color: #fff;
}
.salesman-box .salesman {
  overflow: hidden;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #fff;
  position: relative;
  z-index: 3;
}
.salesman-box .salesman img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
}
@keyframes hi {
  1% {
    transform: scale(0);
    top: 0;
    left: 16px;
  }
  80% {
    transform: scale(0);
    top: 0;
    left: 16px;
  }
  90% {
    transform: scale(1);
    top: 0;
    left: -15px;
  }
  95% {
    transform: scale(1);
    top: 0;
    left: -15px;
  }
  100% {
    transform: scale(1);
    top: 0;
    left: -15px;
  }
}
.salesman-box .say-hi {
  background-color: #887071;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 9;
  transition: all 3s;
  animation: hi 5s infinite;
  color: #fff;
}
.salesman-box .message-parent {
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: 1;
  overflow: hidden;
  width: 0;
  height: 0;
}
.salesman-box .message-parent .message-box {
  background-color: #f5f0f0;
}
.salesman-box .message-parent .message-box .message-title {
  position: relative;
  padding: 2px 0;
}
.salesman-box .message-parent .message-box .message-title .icon-guanbi {
  display: inline-block;
  padding: 8px 10px;
  font-size: 20px;
  color: #887071;
  transition: all 0.3s ease-in;
}
.salesman-box .message-parent .message-box .message-title .icon-guanbi:hover {
  color: #b21f1f;
}
.salesman-box .message-parent .message-box .question-help {
  font-size: 14px;
  background-color: #e8e0e0;
  padding: 10px 20px 25px;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px;
}
.salesman-box .message-parent .message-box .question-help .question {
  display: block;
  color: #887071;
  border-bottom: 1px #887071 dashed;
  padding: 10px 0;
}
.salesman-box .message-parent .message-box .question-help .question:hover {
  text-decoration: underline;
}
.salesman-box .message-parent .message-box .business-box {
  padding-left: 25px;
  color: #887071;
  margin-top: 10px;
}
.salesman-box .message-parent .message-box .business-box .name {
  font-weight: normal;
  font-size: 18px;
}
.salesman-box .message-parent .message-box .business-box .links {
  border-bottom: 1px solid #e8dddd;
  padding: 6px 0;
  box-sizing: border-box;
}
.salesman-box .message-parent .message-box .business-box .links:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.salesman-box .message-parent .message-box .business-box .links .icon-wujiaoxing {
  color: #fdbb2d;
}
.salesman-box .message-parent .message-box .business-box .links a {
  color: #887071;
  margin-left: 7px;
  line-height: 20px;
  vertical-align: super;
}
.salesman-box .message-parent .message-box .business-box .links .iconfont {
  float: left;
  line-height: 21px;
  width: 24px;
}
.salesman-box .message-parent .message-box .business-box .links .icon-Skype {
  font-size: 20px;
}
.salesman-box .message-parent .message-box .business-box .links .icon-xinxi1 {
  font-size: 17px;
}
.salesman-box .message-parent .message-box .leave-message {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  text-align: center;
  border-radius: 4px;
  background-color: #887071;
  transition: all 0.3s;
  width: 240px;
  margin: 18px auto 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.salesman-box .message-parent .message-box .leave-message:hover {
  font-size: 15px;
}
/*表格切换*/
.box-r .tabed {
  margin-top: 40px;
  height: 35px;
  position: relative;
}
.tabed .tabed-ul {
  display: inline-block;
  height: 35px;
  float: left;
}
.tabed .tabed-ul li {
  height: 35px;
  line-height: 35px;
  text-align: center;
  width: 138px;
  float: left;
  border: 1px solid #efefef;
  font-size: 12px;
}
.tabed .tabed-ul .active {
  border-left: 2px solid #b21f1f;
  border-right: 2px solid #b21f1f;
  border-top: 2px solid #b21f1f;
  border-bottom: 2px solid transparent;
}
.tabed .right-line {
  border-bottom: 2px solid #b21f1f;
  height: 36px;
}
.order-search {
  border: 1px solid #efefef;
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  line-height: 34px;
  width: 200px;
  border-bottom: none;
  text-indent: 15px;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  background-image: url("../../images/forum/search-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/*具体显示*/
.box-r .all-boxs {
  margin-top: 60px;
  height: auto;
}
.box-r .all-boxs .boxs-item {
  border: 1px solid #efefef;
}
.box-r .all-boxs .boxs-item .item-ul::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.box-r .all-boxs .boxs-item .item-ul li {
  float: left;
  border-right: 1px solid #efefef;
}
/*复选框样式改变*/
#pay-checked4 {
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0;
  z-index: 9;
}
.label-bg {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../../images/order/gou.png");
  background-repeat: no-repeat;
  vertical-align: text-top;
}
/*新加地址*/
.add-address-box {
  border-top: 1px solid #efefef;
  width: 1080px;
}
.address-title {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 50px;
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  background: #2e2525;
  border: 0 none;
  cursor: pointer;
}
.address-content {
  text-align: center;
  font-size: 12px;
}
.address-content .down-ul {
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: left;
}
.address-item i {
  width: 110px;
  text-align: left;
}
.address-item input {
  width: 250px;
  height: 36px;
  line-height: 36px;
  text-indent: 15px;
  border: 1px solid #efefef;
}
.address-item {
  margin-bottom: 25px;
}
.quantity-select {
  float: left;
  width: 250px;
  border: 1px solid #efefef;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 2px;
  margin-left: 10px;
}
.quantity-select .selectq {
  width: 100%;
  height: 38px;
  line-height: 38px;
  outline: none;
  text-indent: 15px;
  background-image: url(../../images/downed-pointer.png);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.shed-down {
  position: absolute;
  top: 40px;
  left: -1px;
  width: 250px;
  height: 150px;
  border: 1px solid #efefef;
  display: none;
  z-index: 9;
  background-color: #fff;
  overflow-y: visible;
}
.quantity-select li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-indent: 15px;
  background-color: #fff;
}
.quantity-select li:hover {
  background-color: #b0fcff;
}
.area-box {
  margin-top: 25px;
  height: 116px;
  margin-left: 120px;
}
.info-area {
  float: left;
  width: 695px;
  height: 95px;
  resize: none;
  padding: 15px;
  margin-left: 28px;
  box-sizing: border-box;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.address-content .update-btn-box {
  margin-top: 35px;
  text-align: left;
  margin-left: 250px;
  cursor: pointer;
}
.address-content .update-btn-box input {
  cursor: pointer;
  background-color: #b21f1f;
  color: #ffffff;
  width: 240px;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}
.default-btn {
  font-size: 12px;
  color: #b21f1f;
  text-decoration: underline;
  margin-left: 50px;
}
/*具体地址*/
.ress-box::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.ress-box li {
  width: 350px;
  height: 180px;
  border: 1px solid #efefef;
  float: left;
  margin-right: 10px;
  padding-left: 25px;
  padding-top: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;
}
.ress-box .active-address {
  border: 1px solid #483838;
  background-color: #efefef;
}
.ress-box li .now-address {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-image: url("../../images/order/old-pic.jpg");
  background-position: center top;
  width: 100%;
}
.ress-box li .show-new-address {
  background-image: url("../../images/order/new-pic.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
}
.ress-box li dl dt {
  float: left;
  display: inline-block;
  font-size: 12px;
  width: 60px;
}
.ress-box li dl dd {
  float: left;
  display: inline-block;
  width: 220px;
  font-size: 12px;
}
dl {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
  overflow: auto \9;
}
dl::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.edit-box {
  margin-top: 36px;
}
.edit-box i {
  float: left;
}
.edit-box .edit-btn {
  color: #b21f1f;
  float: right;
  margin-right: 20px;
  text-decoration: underline;
}
.edit-box .set-default {
  text-decoration: underline;
}
/*编辑地址层*/
.open-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*IE遮罩兼容*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  display: none;
}
/*编辑收货地址弹出层*/
.edit-address {
  width: 850px;
  height: 610px;
  /*border: 1px solid red;*/
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -305px;
  margin-left: -425px;
}
.edit-title {
  height: 60px;
  line-height: 60px;
  background-color: #271e1e;
}
.edit-title .edit-l {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 25px;
  display: inline-block;
}
.edit-title .edit-r {
  float: right;
  display: inline-block;
  line-height: 0;
  margin-top: 20px;
  margin-right: 20px;
}
.edit-address .edit-content {
  padding: 35px 45px 0 45px;
  padding-bottom: 85px;
  background-color: #ffffff;
}
.inputs-box {
  height: 38px;
  margin-bottom: 25px;
}
.inputs-box::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.input-l {
  display: inline-block;
  float: left;
  position: relative;
}
.input-r {
  display: inline-block;
  float: right;
  position: relative;
}
.inputs {
  width: 250px;
  height: 36px;
  border: 1px solid #efefef;
  line-height: 36px;
  text-indent: 15px;
}
.region {
  background-image: url("../../images/downed-pointer.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}
.region-ul {
  width: 250px;
  position: absolute;
  top: 37px;
  left: 105px;
  border: 1px solid #efefef;
  display: none;
  background-color: #ffffff;
}
.region-ul li {
  height: 30px;
  width: 250px;
  line-height: 30px;
  text-indent: 15px;
}
.region-ul li:hover {
  background-color: #b0fcff;
}
.info-box {
  margin-bottom: 25px;
}
.address-area {
  width: 653px;
  height: 100px;
  resize: none;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}
.update-address {
  margin-top: 35px;
  height: auto;
}
.update-btn {
  color: #ffffff;
  margin-left: 105px;
  display: inline-block;
  width: 240px;
  height: 40px;
  background-color: #b21f1f;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}
/*空数据元素*/
.empty-item {
  height: 200px;
  margin-top: 100px;
  text-align: center;
}
.empty-tips {
  color: #c9caca;
  margin-left: 25px;
  font-size: 14px;
}
/*# sourceMappingURL=receivingAddress.css.map */